body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display {
    width: 92%;
    height: 60px;
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 2em;
    border-radius: 5px;
    margin-bottom: 20px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.button {
    background-color: #f0f0f0;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #ddd;
}
.button.operator {
    background-color: #ff3300;
    color: #fff;
}
.button.operator:hover {
    background-color: #ff3300;
}
.button.zero {
    grid-column: span 2;
}
.button.equal {
    grid-row: span 3;
}